.podcast-list-view {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.podcast-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.podcast-list-item {
    width: 20%;
    margin: 1%;
    padding: 1%;
    border-radius: 2%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.podcast-list-item-info {
    box-shadow: 0px 0px black, -0.2em 0 0.4em gray;
    border-radius: 2%;
    padding: 30px;
    padding-top: 50px;
    height: fit-content;
    text-align: center;
}

.podcast-list-item img {
    height: 150px;
    border-radius: 50%;
    margin-bottom: -50px;
    z-index: 3;
}

.podcast-list-item-name {
    margin-bottom: 10px;
    margin-top: 10px;
}

.podcast-list-item-author {
    color: #a3a3a3;
    text-align: center;
}


.search-field {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 15px;
}

.search-field .search-input {
    margin-right: 3%;
    height: 26px;
    width: 25%;
}

.number-of-podcasts {
    margin: 15px 25px;
}

@media (min-width: 900px) {
    .podcast-list-item {
        width: 20%;
    }
}

@media (max-width: 900px) {
    .podcast-list-item {
        width: 25%;
    }
}

@media (max-width: 670px) {
    .podcast-list-item {
        width: 100%;
    }

    .search-field .search-input {
        width: 100%;
    }
}